link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

hr
.container
  .row
    .row
      .col-md-4.col-md-offset-4
        .panel.panel-default
          .panel-body
            .text-center
              h2.text-center Sorry!
              p Magic links are only available on iOS for now.
              p Maybe you need to install Controlio first?
              br
              a(href='https://itunes.apple.com/ca/app/controlio/id997857994?mt=8')
                center: img.img-responsive(src='http://controlio.co/images/app-store.svg', width='80%')