link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

hr
.container
  .row
    .row
      .col-md-4.col-md-offset-4
        .panel.panel-default
          .panel-body
            .text-center
              h2.text-center Forgot Password?
              p Please enter your new password below
              .panel-body
                form.form
                  fieldset
                    .form-group
                      .input-group
                        span.input-group-addon
                          i.glyphicon.glyphicon-lock.color-blue
                        |  
                        input#passwordInput.form-control(placeholder='New password', type='password', oninvalid="setCustomValidity('Please enter a valid email address!')", onchange="try{setCustomValidity('')}catch(e){}", required='')
                    .form-group
                      input.btn.btn-lg.btn-primary.btn-block(value='Set new password', type='submit')
