link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

head
  meta(name='viewport', content='width=device-width, initial-scale=1')

hr
.container
  .row
    .row
      .col-md-4.col-md-offset-4
        .panel.panel-default
          .panel-body
            .text-center
              h2.text-center Create a password
              p Please enter your new password below
              .panel-body
                form(action="/public/setPassword" method="post").form
                  fieldset
                    .form-group
                      .input-group
                        span.input-group-addon
                          i.glyphicon.glyphicon-lock.color-blue
                        |  
                        input#passwordInput.form-control(placeholder='New password', type='password', name='password', min=6, max=20, oninvalid="setCustomValidity('Password's length should be more than 6 characters')", onchange="try{setCustomValidity('')}catch(e){}", required='')
                        input(type="hidden", name="token", value= token)
                    .form-group
                      input.btn.btn-lg.btn-primary.btn-block(value='Set the password', type='submit')
